.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  box-sizing: border-box;
}

.popup_type_authorization {
  visibility: hidden;
}

.popup_type_city {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.popup_visible_on {
  visibility: visible;
}

.popup__close {
  border: none;
  background: transparent;
  margin: 16px 12px 0 0;
  padding: 0;
  width: 40px;
  height: 40px;
  float: right;
}

.popup__title {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin: 62px 0px 16px 0;
}

.popup__title_type_city {
  margin-top: 30px;
}

@media (min-width: 1280px) {
  .popup__title_type_city {
    font-size: 23px;
    line-height: 30px;;
  }
}

@media (min-width: 1280px) {
  .popup__title {
    font-size: 23px;
    line-height: 30px;
  }
}

.popup__subtitle {
  text-align: center;
  margin: 0 auto 20px;
  padding: 0 10px 0;
  font-size: 15px;
  line-height: 21px;
  max-width: 547px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1280px) {
  .popup__subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}

.popup__subtitle:last-of-type {
  margin: 0 auto;
}

.popup__form {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 10px;
  border-radius: 30px;
  padding: 13px 20px 10px;
  border: none;
  background: #F3F2F2;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #A7A6A6;
}

@media (min-width: 1280px) {
  .popup__input {
    font-size: 14px;
    line-height: 19px;
  }
}

.popup__input:last-of-type {
  margin: 0;
}

.popup__forgot {
  margin: 20px 0 0;
  padding: 0;
  max-width: 110px;
  border: none;
  background: transparent;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #464646;
}

@media (min-width: 1280px) {
  .popup__forgot {
    font-size: 14px;
    line-height: 19px;
  }
}

.popup__submit {
  margin: 30px 0 0;
  background: transparent;
  width: 66px;
  height: 40px;
  border: 1px solid #A7A6A6;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #A7A6A6;
}

@media (min-width: 1280px) {
  .popup__submit {
    font-size: 15px;
    line-height: 19px;
    border-radius: 100px;
    width: 85px;
    height: 48px;
  }
}

.popup__cities {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup_cities_main {
  border-bottom: 0.5px solid #A7A6A6;
  width: 100%;
  margin: 35px 0 15px;
  padding: 0 0 4px;
}

.popup__cities-item {
  margin: 0 0 11px;
}


.popup__city-link {
  text-decoration: none;
}