.article-annotation {
  width: 100%;
  max-width: 900px;
  min-height: 629px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px 30px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .article-annotation {

  }
}

@media screen and (min-width: 1440px) {
  .article-annotation {

  }
}

@media screen and (min-width: 1920px) {
  .article-annotation {

  }
}
