.page__header {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .page__header {
    margin-top: 30px;
    padding: 0 117px;
  }
}

@media screen and (min-width: 1440px) {
  .page__header {
    height: 30px;
    margin-top: 40px;
    padding: 0 135px;
  }
}

@media screen and (min-width: 1920px) {
  .page__header {
    padding: 0 75px;
  }
}
