.article-card__image {
  max-height: 401px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: -20px;
}

@media screen and (min-width: 1024px) {
  .article-card__image {

  }
}

@media screen and (min-width: 1440px) {
  .article-card__image {

  }
}

@media screen and (min-width: 1920px) {
  .article-card__image {

  }
}
