.article-card__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .article-card__caption {

  }
}

@media screen and (min-width: 1440px) {
  .article-card__caption {

  }
}

@media screen and (min-width: 1920px) {
  .article-card__caption {

  }
}
