.page__content {
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}


@media screen and (min-width: 1024px) {
  .page__content {
    padding: 0 127px;
  }
}

@media screen and (min-width: 1440px) {
  .page__content {
    padding: 0 135px;
  }
}

@media screen and (min-width: 1920px) {
  .page__content {
    padding: 0 75px;
  }
}
